body {
    margin: 0;
    padding: 0;
    background-color:#715d7a;
}
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height:120px;
}
header {
    background-color: rgb(130, 102, 155);
}
footer {
    height:120px;
    background-color: rgb(130, 102, 155);
}
.centre {
   margin:auto; 
   width:1000px;
   background-color:#a08ebc;
   height: 100vh;
}