body {
    margin: 0;
    padding: 0;
    background-color:#5b4b62;
}
.topContain {
    display: flex;
    width:900px;
    margin:0 auto;
}
h1 {
    color: white;
    padding-top: 10px;
    flex:2;
}
header, footer {
    background-color: #67517a;
    height: 120px;
}
.centre {
   margin:auto; 
   width:1000px;
   background-color: #4f4162;
   height: 100vh;
}
nav {
    flex:1;
}
nav ul {
    margin:0;
    padding:0;
    list-style: none;
}
nav li {
    display:inline-block;
    margin-left: 40px;
    padding-top: 45px;

    position:relative;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
