<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/createAccount.css}" rel="stylesheet">
    <title>Create</title>
  </head>
  <body>
    <header>
      <h1>Create Account</h1> 
    </header>
    <div class="centre"> 
      <div class="login">
        <form th:action="@{/login}" method="post">
          <div>
            <div>
              <p class="user">Username</p> 
              <input type="text">
            </div> 
            <div>
              <p class="pass">Password</p>
              <input type="password">
            </div>
            <div>
              <p class="confirmpass">Confirm Password</p>
              <input type="password">
            </div>
            <br><br>
            <input type="submit" value="Login" class="button"><div th:if="${param.error}" class="err">Invalid username or password.</div>
          </div>
        </form>
      </div>
    </div>
    <footer class="bottomHeader">
    </footer>
  </body>
</html>