<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/home.css}" rel="stylesheet">
    <title>Login</title>
  </head>
  <body>
    <header>
      <div class="topContain">
        <h1>Login</h1> 
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test2</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="centre">
    </div>
    <footer class="bottomHeader">
    </footer>
  </body>
</html>